<nav class="navbar bg-primary">
  <div class="container">
    <h1 class="m-3 text-light">UK Police Force Information</h1>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <form (ngSubmit)="submit(f)" #f="ngForm">
        <select ngModel name="forceSelector" class="form-select mt-3">
          <option *ngFor="let force of forcesList" value="{{ force.id }}">
            {{ force.name }}
          </option>
        </select>
        <div class="text-center">
          <button class="btn btn-primary mt-3">Search Force Data</button>
        </div>
      </form>
      <hr />
      <div *ngIf="!selectedForceId" class="text-center">
        <p class="fw-bold">Please select a Force to view any available data</p>
        <p>Please note: Not all Forces make all data types available</p>
        <hr />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-4 offset-lg-2 mb-4">
      <app-senior-officers
        [selectedForceId]="selectedForceId"
        [snrOffrList]="snrOffrList"
      ></app-senior-officers>
    </div>

    <div class="col-12 col-lg-4 mb-4">
      <app-specific-force
        [selectedForceId]="selectedForceId"
        [specificForce]="specificForce"
      ></app-specific-force>
    </div>
  </div>
</div>
